<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.members.dao.MembersDao">

  <select id="selectEmailCount" 
            parameterType="string"
            resultType="_int">
        SELECT COUNT(EMAIL)
          FROM MEMBERS
         WHERE EMAIL = #{_parameter}
  </select>
  
  <select id="selectNicknameCount" 
            parameterType="string"
            resultType="_int">
        SELECT COUNT(EMAIL)
          FROM MEMBERS
         WHERE NICKNAME = #{_parameter}
  </select>
    
  <insert id="insertNewMembers"
          parameterType="com.ktdsuniversity.edu.members.vo.request.RegistMembersVO">
    INSERT INTO MEMBERS 
     (EMAIL
    , NAME
    , NICKNAME
    , PASSWORD
    , REGIST_DATE
    , SALT
    )
    VALUES
     (#{email}
    , #{name}
    , #{nickname}
    , #{password}
    , SYSDATE
    , #{salt})       
  </insert>
  
  <select id="selectMembersByEmail"
          parameterType="string" 
          resultType="com.ktdsuniversity.edu.members.vo.response.MembersVO">
    SELECT EMAIL
         , NAME
         , NICKNAME
         , PASSWORD
         , TO_CHAR(REGIST_DATE, 'YYYY-MM-DD HH24:MI:SS') AS REGIST_DATE
         , TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD HH24:MI:SS') AS MODIFY_DATE
         , TO_CHAR(LATEST_LOGIN_SUCCESS_DATE, 'YYYY-MM-DD HH24:MI:SS') AS LATEST_LOGIN_SUCCESS_DATE
         , TO_CHAR(LATEST_LOGIN_FAIL_DATE, 'YYYY-MM-DD HH24:MI:SS') AS LATEST_LOGIN_FAIL_DATE
         , TO_CHAR(LATEST_LOGOUT_DATE, 'YYYY-MM-DD HH24:MI:SS') AS LATEST_LOGOUT_DATE
         , LOGIN_FAIL_COUNT
         , LOGIN_BLOCK_YN
         , TO_CHAR(LOGIN_BLOCK_DATE, 'YYYY-MM-DD HH24:MI:SS') AS LOGIN_BLOCK_DATE
         , LOGIN_YN
         , SALT
         , DEL_YN
      FROM MEMBERS
     WHERE EMAIL = #{_parameter}
       AND DEL_YN = 'N' 
  </select>
  
  
  <update id="updateLoginStatus"
          parameterType="string">
    UPDATE MEMBERS
       SET LATEST_LOGIN_SUCCESS_DATE = SYSDATE
         , LOGIN_FAIL_COUNT = 0
         , LOGIN_BLOCK_YN = 'N'
         , LOGIN_BLOCK_DATE = NULL
         , LOGIN_YN = 'Y'
     WHERE EMAIL = #{_parameter}   
  </update>
  
  <update id="updateLoginFailed"
          parameterType="string">
    UPDATE MEMBERS
       SET LOGIN_FAIL_COUNT = LOGIN_FAIL_COUNT + 1
         , LATEST_LOGIN_FAIL_DATE = SYSDATE
     WHERE EMAIL = #{_parameter}
  </update>
  
  <update id="updateBlock"
          parameterType="string">
    UPDATE MEMBERS
       SET LOGIN_BLOCK_YN = 'Y'
         , LOGIN_BLOCK_DATE = SYSDATE
     WHERE EMAIL = #{_parameter}
       AND LOGIN_FAIL_COUNT >= 5
  </update>
  
  <update id="updateResetBlock"
          parameterType="string">
    UPDATE MEMBERS
       SET LOGIN_BLOCK_YN = 'N'
         , LOGIN_BLOCK_DATE = NULL
         , LOGIN_FAIL_COUNT = 0
     WHERE EMAIL = #{_parameter}
  </update>
  
  <update id="updateLogoutStatus"
          parameterType="string">
    UPDATE MEMBERS
       SET LATEST_LOGOUT_DATE = SYSDATE
         , LOGIN_YN = 'N'
     WHERE EMAIL = #{_parameter}
  </update>
  
  <update id="deleteMember"
          parameterType="string">
    UPDATE MEMBERS
       SET DEL_YN = 'Y'
         , PASSWORD = 'EXPIRED_USER'
         , SALT = 'EXPIRED_SALT'
     WHERE EMAIL = #{_parameter}    
       AND DEL_YN = 'N'
  </update>
  
</mapper>