<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.replies.dao.RepliesDao">

    <select id="selectRepliesCount"
            parameterType="_long">
        SELECT COUNT(ID)
          FROM REPLIES
         WHERE DEL_YN = 'N'
    </select>
    
    <select id="selectAllReplies"
            parameterType="com.ktdsuniversity.edu.replies.vo.response.RepliesVO">
        SELECT R.ID
             , R.ARTICLE_ID
             , R.EMAIL
             , R.CONTENT
             , R.RECOMMEND_CNT
             , R.DEL_YN
             , TO_CHAR(R.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
             , TO_CHAR(R.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
             , R.FILE_SET_ID
          FROM REPLIES R
         INNER JOIN ARTICLES A
            ON R.ARTICLE_ID = A.ID 
         WHERE R.DEL_YN = 'N'
    </select>
    
    <insert id="insertNewReplies"
            parameterType="com.ktdsuniversity.edu.replies.vo.request.RegistRepliesVO">
            
        <selectKey order="BEFORE" keyProperty="registRepliesVO.id" resultType="string">
            SELECT ('RE-'|| TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_REPLIES_PK.NEXTVAL, 6, '0'))
              FROM DUAL
        </selectKey>        
       INSERT INTO REPLIES 
        (ID
       , ARTICLE_ID
       , EMAIL
       , CONTENT
       , CRT_DT
       , FILE_SET_ID)
       VALUES
        (#{id}
       , #{articleId}
       , #{registRepliesVO.email}
       , #{registRepliesVO.content}
       , SYSDATE
       , #{registRepliesVO.fileSetId})
    </insert>
    
</mapper>