<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    namespace?
    Mybatis 가 실행해야하는 쿼리의 클래스의 경로를 작성.
    해당 클래스의 메소드와 mapper 에 작성하는 쿼리가 매칭되어서 실행된다.
    Mybatis 기 생성하는 익명클래스의 원본이 된다.
 -->
<mapper namespace="com.ktdsuniversity.edu.articles.dao.ArticlesDao">

    <!-- ArticlesDao 인터페이스에 있는 추상 메소드들을 구현 -->

    <!--  
    long selectArticlesCount();
    <select id="" id는 메소드의 이름
            parameterType="" 메소드의 파라미터 타입, 없으면 생략
            resultType=""> 메소드의 반환 타입
   </select> 
   -->
    
    <select id="selectArticlesCount"
            resultType="_long">
        SELECT COUNT(ID)
          FROM ARTICLES
         WHERE DEL_YN = 'N'    
    </select>
    
    <!-- List 일 때는 반환타입을 제네릭으로 작성한다. -->
    <!-- List<ArticlesVO> selectAllArticles(); -->
    <select id="selectAllArticles"
            resultType="com.ktdsuniversity.edu.articles.vo.response.ArticlesVO">
        SELECT ID
             , SUBJECT
             , CONTENT
             , EMAIL
             , VIEW_CNT
             , RECOMMEND_CNT
             , DEL_YN
             , TO_CHAR(CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
             , TO_CHAR(MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
             , FILE_SET_ID
          FROM ARTICLES
         WHERE DEL_YN = 'N'     
    </select>
    
    <!-- resultType은 select 태그에만 작성 가능 -->
    <insert id="insertNewArticle" 
            parameterType="com.ktdsuniversity.edu.articles.vo.request.RegistArticleVO">
            
        <selectKey order="BEFORE" keyProperty="id" resultType="string">
            SELECT ('AR-'|| TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_ARTICLES_PK.NEXTVAL, 6, '0'))
              FROM DUAL
        </selectKey>    
            
        INSERT INTO ARTICLES 
         (ID
        , SUBJECT
        , CONTENT
        , EMAIL
        , CRT_DT
        , FILE_SET_ID)
        VALUES
         (#{id}
        , #{subject}
        , #{content}
        , #{email}
        , SYSDATE
        , #{fileSetId})
    </insert>
    
    <!-- Join 된 쿼리의 결과를 받아올 때 사용. -->
    <resultMap type="com.ktdsuniversity.edu.articles.vo.response.ArticlesVO"
               id="ArticlesVOMap"
               autoMapping="true">
        <!-- 쿼리한 결과에서 PK 컬럼을 ID 태그로 지정 
            column => 컬럼명 작성
            property => 컬럼의 값이 할당 될 멤버변수의 이름을 작성 -->
        <id column="ID" property="id" />
        <!-- 쿼리한 결과에서 일반컬럼(FK포함)을 RESULT 태그로 지정 -->
        <!--  <result column="SUBJECT" property="subject"/>
        <result column="CONTENT" property="content"/>
        <result column="EMAIL" property="email"/>
        <result column="VIEW_CNT" property="viewCnt"/>
        <result column="RECOMMEND_CNT" property="recommendCnt"/>
        <result column="DEL_YN" property="delYn"/>
        <result column="CRT_DT" property="crtDt"/>
        <result column="MDFY_DT" property="mdfyDt"/>
        <result column="FILE_SET_ID" property="fileSetId"/>
        -->
        
        <!-- 1:1 관계에서 사용 -->
        <association property="fileSet"
                     javaType="com.ktdsuniversity.edu.files.vo.response.FileSetVO"
                     autoMapping="true">
            <id column="FILE_SET_ID" property="id"/>
            <result column="FILE_UPLOADER" property="email"/>
            <result column="FILE_UPLOAD_DATE" property="crtDt"/>
            <result column="FILE_MODIFY_DATE" property="mdfyDt"/> 
            
            <!-- 1:N 관계에서 사용
                property => 멤버변수의 이름
                ofType => 제네릭의 경로
                javaType => list
            -->
            <collection property="files"
                        ofType="com.ktdsuniversity.edu.files.vo.response.FilesVO"
                        javaType="list"
                        autoMapping="true">
                <id column="FILE_ID" property="id"/>
                <!-- 
                <result column="FILE_SET_ID" property="fileSetId"/>
                <result column="DISPLAY_FILE_NAME" property="displayFileName"/>       
                <result column="OBFUSCATE_FILE_NAME" property="obfuscateFileName"/>       
                <result column="FILE_SIZE" property="fileSize"/>       
                <result column="DOWNLOAD_COUNT" property="downloadCount"/>  
                 -->     
                <result column="FILE_DEL_YN" property="delYn"/>                   
            </collection>
        </association>
        <!-- 1:N 관계에서 사용 -->
        <!-- <collection property=""></collection> -->
        
    </resultMap>
    
    <select id="selectArticleByArticleId"
            parameterType="string"
            resultMap="ArticlesVOMap">
        SELECT A.ID
             , A.SUBJECT
             , A.CONTENT
             , A.EMAIL
             , A.VIEW_CNT
             , A.RECOMMEND_CNT
             , A.DEL_YN
             , TO_CHAR(A.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
             , TO_CHAR(A.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
             , FS_F.ID AS FILE_SET_ID
             , FS_F.EMAIL AS FILE_UPLOADER
             , FS_F.CRT_DT AS FILE_UPLOAD_DATE
             , FS_F.MDFY_DT AS FILE_MODIFY_DATE
             , FS_F.FILE_ID
             , FS_F.DISPLAY_FILE_NAME
             , FS_F.OBFUSCATE_FILE_NAME
             , FS_F.FILE_SIZE 
             , FS_F.DOWNLOAD_COUNT 
             , FS_F.DEL_YN AS FILE_DEL_YN
          FROM ARTICLES A
          LEFT OUTER JOIN (SELECT FS.ID 
                                , FS.EMAIL 
                                , TO_CHAR(FS.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
                                , TO_CHAR(FS.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
                                , F.ID AS FILE_ID
                                , F.DISPLAY_FILE_NAME 
                                , F.OBFUSCATE_FILE_NAME 
                                , F.FILE_SIZE 
                                , F.DOWNLOAD_COUNT 
                                , F.DEL_YN 
                             FROM FILE_SET FS
                            INNER JOIN FILES F
                               ON FS.ID = F.FILE_SET_ID
                            WHERE F.DEL_YN = 'N') FS_F
            ON A.FILE_SET_ID = FS_F.ID
         WHERE A.ID = #{_parameter}
           AND A.DEL_YN = 'N'
         ORDER BY A.ID DESC      
    </select>
    
    
    <update id="updateArticle">
        UPDATE ARTICLES
           SET SUBJECT = #{modifyArticleVO.subject}
             , CONTENT = #{modifyArticleVO.content}
             , MDFY_DT = SYSDATE
             , FILE_SET_ID = #{modifyArticleVO.fileSetId}    
         WHERE ID = #{articleId}
           AND EMAIL = #{modifyArticleVO.email}    
           AND DEL_YN = 'N'        
    </update>
    
    <update id="deleteArticle"
            parameterType="string">
        UPDATE ARTICLES
           SET DEL_YN = 'Y'
             , MDFY_DT = SYSDATE
         WHERE ID = #{_parameter}
           AND DEL_YN = 'N'            
    </update>
    
    <update id="updateIncreaseViewCount"
            parameterType="string">
       UPDATE ARTICLES
          SET VIEW_CNT = VIEW_CNT + 1
        WHERE ID = #{_parameter}
          AND DEL_YN = 'N'
    </update>
    
    <update id="updateIncreaseRecommnedCount"
            parameterType="string">
       UPDATE ARTICLES
          SET RECOMMEND_CNT = RECOMMEND_CNT + 1
        WHERE ID = #{_parameter}
          AND DEL_YN = 'N'
    </update>
    
</mapper>